{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('user.news') }}">Tin Tức</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ tin.tieuDe }}</li>
  </ol>
</nav>

<article class="blog-post">
    <h2 class="blog-post-title">{{ tin.tieuDe }}</h2>
    <p class="blog-post-meta">{{ tin.ngayThem }}</p>
    <hr>
    <div class="content">
        {{ tin.noiDung }}
    </div>
</article>
{% endblock %}
